<h1>CONTRIBUTORS</h1>
<% @contributors.each do |contributor| %>
  <h3><%= link_to contributor.username, contributor_path(contributor) %></h3>
  <p><%= contributor.bio %></p>
  <p> 
    <ul>
      <% @greetings.where(contributor: contributor).each do |greet| %>
        <li><%= link_to greet.word, greeting_path(greet)%></li>
      <% end%>
    </ul>
  </p>
  <p>_____________________________</p>
<%end  %>

<p><%= link_to "BECOME A CONTRIBUTOR!", new_contributor_path %></p>